extends ../layout

block content
    if (usuario)
        h1="Información del usuario "+usuario.usuario+"("+usuario.id+")"
        ul
            li="Nombre: " + usuario.nombre
            li="Usuario: " + usuario.usuario
            li="Rol: " + usuario.rol
